* {
  font-family: sans-serif;
}

body {
  background-color: aliceblue;
}

.App {
  margin: 20px;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  margin-bottom: 10px;
}

button:hover {
  background: rgb(188, 184, 184);
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
  background: rgb(201, 94, 75);
  color: white;
}
